---
import NavigationBar from "../components/NavigationBar.astro";
import type { NavigationI } from "../models/navigation";

export interface Props {
  title: string;
}

const { title } = Astro.props;

const dummyNavigation: NavigationI = {
  logoUrl:
    "https://upload.wikimedia.org/wikipedia/commons/8/85/Logo-Test.png",
  navigationItems: [
    {
      name: "Home",
      href: "",
    },
    {
      name: "About",
      href: "about",
    },
    {
      name: "Projects",
      href: "projects",
    },
    {
      name: "Locations",
      href: "locations",
    },
    {
      name: "Team",
      href: "team",
    },
    {
      name: "Contact",
      href: "contact",
    },
    {
      name: "Supporter",
      href: "supporter",
    },
  ],
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavigationBar navigation={dummyNavigation} />
    <slot />
  </body>
</html>
<style is:global>
 
  html {
    font-family: system-ui, sans-serif;
    scroll-behavior: smooth;
  }
</style>
